.img-width{
	width: 80%;
}
.gap{
	margin-top:2rem;
	padding-top:2rem; 
}
.c1{
	/*background-color: #fff3e0;*/
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}
.c2{
	/*background-color: #fbe9e7;*/
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.c3{
	/*background-color: #fffde7;*/
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.c4{
	/*background-color: #fff3e0;*/
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}